<div class="col-sm-4 mb-3 md-2 text-center">
    <input type="hidden" name="user" id="user" value={{user}} />
    <div class="card-body">
        <div class="form-group">
            <input type="text" id="routeName" name="routeName" value="" class="form-control" placeholder="Route Name"
                autofocus required />
        </div>
        <div class="btn-toolbar" role="toolbar"
            aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button id="bWatchMe" class="buttonMap btn" onclick="trackMe()">
                    Track Me
                </button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button id="bStop" class="buttonMap btn" onclick="stop()">
                    Stop
                </button>
                <form action="/stop" method="GET" id="stopForm" name="stopForm"></form>
            </div>
        </div>
    </div>

    <div id='map'> </div>

</div>

<script src="../../js/location.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAC_MBGOKSrR3a2FFN6c5V9J_wCasOP_8&callback=initMap">