<div class="col-sm-4 mb-3">
    <input type="hidden" name="points" id="points" value="{{pointArray}}">
    <div id="map-canvas"></div>
</div>


<script src="../../js/route.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAC_MBGOKSrR3a2FFN6c5V9J_wCasOP_8&callback=initMap">