<div class="row">
  {{#each route}}
  <div class="col-md-4 mb-5">
    <div class="card">
      <div class="card-body text-center">
        <h4> {{ name }} </h4>
        <form action="/route/{{_id}}" method="GET">
          <button type="submit" style="border-radius: 12px; border: none; padding: 7px 8px;" class="seeRoute">See route</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto card-block">
    <div class="card-body text-center">
      <h1>Hello {{user.firstName}}</h1>
      <p clsss="lead">No one has shared routes with you yet.</p>
    </div>
  </div>
  {{/each}}
</div>