<div class="jumbotron mt-4">
  <h1 class="display-4">Project 1 GPS</h1>
  <p class="lead">By Camila White Romero</p>
  <hr class="my-4">
  <p>This is the first project of Special Topics in Telematics of EAFIT University. </p>
</div>